/*******************/
/* VARIABLES
/*******************/

$midnightblue: #1D1D30;
$lavender: #E6E6FA;
$gold: gold;
$coral: coral;
$lightseagreen: lightseagreen;


/*******************/
/* FONTS
/*******************/

/* noto-serif-jp-regular - latin */
@font-face {
  font-family: 'Noto Serif JP';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/noto-serif-jp-v1-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Noto Serif JP'), local('NotoSerifJP-Regular'),
       url('../fonts/noto-serif-jp-v1-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/noto-serif-jp-v1-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/noto-serif-jp-v1-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/noto-serif-jp-v1-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/noto-serif-jp-v1-latin-regular.svg#NotoSerifJP') format('svg'); /* Legacy iOS */
}
/* noto-serif-jp-700 - latin */
@font-face {
  font-family: 'Noto Serif JP';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/noto-serif-jp-v1-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Noto Serif JP Bold'), local('NotoSerifJP-Bold'),
       url('../fonts/noto-serif-jp-v1-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/noto-serif-jp-v1-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/noto-serif-jp-v1-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/noto-serif-jp-v1-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/noto-serif-jp-v1-latin-700.svg#NotoSerifJP') format('svg'); /* Legacy iOS */
}

/* amatic-sc-regular - latin */
@font-face {
  font-family: 'Amatic SC';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/amatic-sc-v11-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Amatic SC Regular'), local('AmaticSC-Regular'),
       url('../fonts/amatic-sc-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/amatic-sc-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/amatic-sc-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/amatic-sc-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/amatic-sc-v11-latin-regular.svg#AmaticSC') format('svg'); /* Legacy iOS */
}
/* amatic-sc-700 - latin */
@font-face {
  font-family: 'Amatic SC';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/amatic-sc-v11-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Amatic SC Bold'), local('AmaticSC-Bold'),
       url('../fonts/amatic-sc-v11-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/amatic-sc-v11-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/amatic-sc-v11-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/amatic-sc-v11-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/amatic-sc-v11-latin-700.svg#AmaticSC') format('svg'); /* Legacy iOS */
}