/****************************************

ELEMENTS

*****************************************/

body {
    color: #121212;
    font-family: 'Noto Serif JP', sans-serif;
    font-size: 1em;
    line-height: 1;
}

a {cursor:pointer;}

.h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 3.5em;
    margin-bottom: 0;
//    text-shadow:2px 1px 2px $lightseagreen;
}

.h3 {
    color:$lightseagreen;
    font-family: 'Noto Serif JP', sans-serif;
    font-size: 1.05em;
    font-weight:700;
//    text-shadow:0 1px 1px rgba(0,0,0,0.2);
    text-transform: uppercase;
}

.large-print {
    color: rgba($midnightblue, 0.75);
    font-size: 1.2em;
}

figure {
    background: $lavender;
    overflow: hidden;
    position: relative;
    transition: all .5s;
    z-index:3;

    &:hover {
        background: none;
    }

    &:before {
        color: white;
        content: '-';
        left: 90%;
        top: -20%;
        position: absolute;
        z-index: 1;
        transform: rotate(-35deg);
    }

    &:hover:before {
        left: -10%;
        top: 50%;
        transition: all 1s;
    }

    img {
        mix-blend-mode: luminosity;
    }
}

figcaption {
    background:#FFF;
    color:$midnightblue;
    font-size:.75em;
    padding:.5em 0 .35em;
}

/* MODIFIERS */


._hide { display: none !important;}

/*
@media print, screen and (max-width: 479px) {
  ._hide-for-mobile {
    display:none;
  }
}
@media print, screen and (min-width: 480px) {
  ._hide-for-desktop {
    display:none;
  }
}
*/
